.DrupalRanking {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.DrupalRanking .tile {
    width: 20%;
    border: 10px solid #084c61;
    border-top: 0;
    position: relative;
    display: block;
    height: 320px;
}

.DrupalRanking .tile.middle {
    width: 50%;
}

.DrupalRanking .tile .accolades {
    text-align: center;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-decoration: none;
}

.DrupalRanking .tile .side1 {
    position: relative;
    width: 50%;
}

.DrupalRanking .tile .side1 .label {
    text-align: center;
    display: block;
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}

.DrupalRanking .tile .side1 .imgOverlay {
    position: absolute;
    top: 38px;
    left: calc(50% - 43px);
    width: 80px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.DrupalRanking .tile .accoladeImg {
    width: 100%;
    height: 100px;
    padding: 0 50px;
}

.DrupalRanking .w33 {
    width: 33.33%;
}

.DrupalRanking .trophyWrapper {
    display: flex;
    flex-wrap: wrap;
}

.DrupalRanking .trophyWrapper .row {
    display: flex;
    justify-content: center;
}