.AllBoards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.AllBoards .tile{
    width: 33.33%;
    border: 10px solid #084c61;
    border-top: 0;
    position: relative;
    display: block;
    color: #fff;
}

.AllBoards .tile .progressCirlceWrapper{
    position: absolute;
    top: 38px;
    right: 40px;
}

.AllBoards .tile.totalTile {
    height: 120px;
    width: 33.33%;
}

.AllBoards .tile .infoIcon {
    width: 20px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    font-family: serif;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 10px;
}

.AllBoards .tile.background1 {
    background-color: #09607a;
}

.AllBoards .tile.background2 {
    background-color: #0d82a5;
}

.AllBoards .tile.background3 {
    background-color: #18a0ca;
}

.AllBoards .tile.totalTile .value {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    display: block;
    width: 100%;
}

.AllBoards .tile .label {
    text-align: center;
    margin-bottom: 10px;
}

.AllBoards .tile .info {
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin-top: -13px;
}

.AllBoards .tile .rotator {
    transform: rotateY(0deg);
    transition: transform .2s;
    height: 100%;
}

.AllBoards .tile .rotator.rotate {
    transform: rotateY(-90deg);
    transition: transform .2s;
}

.AllBoards .tile .side1.hide {
    display: none;
}

.AllBoards .tile .side2 {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.AllBoards .tile .side2 .creditsBreakdown {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.AllBoards .tile .side2.hide {
    display: none;
}

.AllBoards .chartWrapper {
    border: 10px solid #084c61;
    border-top: 0;
    width: 100%;
}