/* .IndividualTaskStatus {
    width: 50%;
}

.IndividualTaskStatus .wrapper {
    display: flex;
    height: 100%;
}

.IndividualTaskStatus .chartWrapper {
    width: 100%;
    border: 10px solid #084c61;
    border-top: 0;
    min-height: 300px;
    position: relative;
    display: block;
}

.IndividualTaskStatus .chartWrapper h1 {
    text-align: center;
}
.IndividualTaskStatus .heading {
    font-size: 20px;
} */