.Header {
    background-color: #2f8b9b;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.Header .home {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.Header .logout {
    float: right;
    height: 25px;
    background: #fff !important;
    color: black !important;
}

.Header .logout div {
    display: none;
}

.Header .logout span {
    border: none;
    font-size: 14px;
    border-radius: 0;
    font-weight: 500;
    padding: 0 10px !important;
}
