.BoardSelector {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background: #084c61;
    max-width: 1440px;
    margin: 0 auto;
}

.BoardSelector .date {
    padding-top: 10px;
    font-weight: 500;
    color: #fff;
}

.BoardSelector nav {
    border-bottom: 3px solid #fff;
}

.BoardSelector nav button.tab {
    cursor: pointer;
    background-color: #fff;
    height: 40px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 500;
    border: 0;
    border-right: 3px solid #084c61;
}

.BoardSelector nav button.tab.active {
    background: transparent;
    border: 2px solid #fff;
    border-bottom: none;
    color: #fff;
    margin-right: 3px;
}

.BoardSelector nav button.tab:last-child {
    border-right: 0;
}

.BoardSelector nav button.tab:last-child.active {
    border-right: 2px solid #fff;
}